### import modules

In [1]:
import pandas as pd
import numpy as np

### create dummy dataframe

In [2]:
raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
        'age': [20, 19, 22, 21],
        'favorite_color': ['blue', 'red', 'yellow', "green"],
        'grade': [88, 92, 95, 70]}
df = pd.DataFrame(raw_data, index = ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'])
df

                  age favorite_color  grade              name
Willard Morris     20           blue     88    Willard Morris
Al Jennings        19            red     92       Al Jennings
Omar Mullins       22         yellow     95      Omar Mullins
Spencer McDaniel   21          green     70  Spencer McDaniel

### strip/replace character in column

In [3]:
df.columns = [x.strip().replace('_', '_TEST_') for x in df.columns]
df.head()

                  age favorite_TEST_color  grade              name
Willard Morris     20                blue     88    Willard Morris
Al Jennings        19                 red     92       Al Jennings
Omar Mullins       22              yellow     95      Omar Mullins
Spencer McDaniel   21               green     70  Spencer McDaniel