### import modules

In [5]:
import pandas as pd
import numpy as np

### create dummy dataframe

In [6]:
raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
        'age': [20, 19, 22, 21],
        'favorite_color': ['blue', 'red', 'yellow', "green"],
        'grade': [88, 92, 95, 70]}
df = pd.DataFrame(raw_data, index = ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'])
df

                  age favorite_color  grade              name
Willard Morris     20           blue     88    Willard Morris
Al Jennings        19            red     92       Al Jennings
Omar Mullins       22         yellow     95      Omar Mullins
Spencer McDaniel   21          green     70  Spencer McDaniel

### rename a bunch of columns

In [7]:
df.columns = ['test_age', 'test_favorite_color','test_grade', 'test_name']
df.head()

                  test_age test_favorite_color  test_grade         test_name
Willard Morris          20                blue          88    Willard Morris
Al Jennings             19                 red          92       Al Jennings
Omar Mullins            22              yellow          95      Omar Mullins
Spencer McDaniel        21               green          70  Spencer McDaniel

### rename a specific column

In [8]:
df.rename(columns={'age': 'is_just_a_number'}, inplace=True)
df.head()

                  test_age test_favorite_color  test_grade         test_name
Willard Morris          20                blue          88    Willard Morris
Al Jennings             19                 red          92       Al Jennings
Omar Mullins            22              yellow          95      Omar Mullins
Spencer McDaniel        21               green          70  Spencer McDaniel