<font color='grey'>Examples of column operations in pandas</font>

#### <font color='purple'>Importing Libraries</font>

In [21]:
import pandas as pd
import numpy as np

#### <font color='purple'>Creating dataframe</font>

In [22]:
#creating a dataframe
data = {'fruit': ['blueberries', 'apples', 'bananas', 'raspberries', 'strawberries'], 
        'quanitity': [15, 12, 10, 5, 3],
        'price': [2.50, 1.00, 0.50, 3.00, 2.00]}
df1 = pd.DataFrame(data, columns = ['fruit', 'quanitity', 'price'])
df1

          fruit  quanitity  price
0   blueberries         15    2.5
1        apples         12    1.0
2       bananas         10    0.5
3   raspberries          5    3.0
4  strawberries          3    2.0

#### <font color='purple'>Listing columns in the dataframe</font>

In [23]:
# super simple, just use list)()
list(df1)

['fruit', 'quanitity', 'price']

#### <font color='purple'>Adding a new column to an existing dataframe</font>

In [27]:
df1['inventory_value'] = df1['price'] * df1['quanitity']
df1.head()

          fruit  quanitity  price  inventory_value
0   blueberries         15    2.5             37.5
1        apples         12    1.0             12.0
2       bananas         10    0.5              5.0
3   raspberries          5    3.0             15.0
4  strawberries          3    2.0              6.0

#### <font color='purple'>Deleting a column from a dataframe</font>

In [28]:
del df1['inventory_value']
df1.head()

          fruit  quanitity  price
0   blueberries         15    2.5
1        apples         12    1.0
2       bananas         10    0.5
3   raspberries          5    3.0
4  strawberries          3    2.0

#### <font color='purple'>Renaming columns</font>

In [30]:
df1.columns = ['crop_type', 'number_plants', 'price_per_plant']
df1.head()

      crop_type  number_plants  price_per_plant
0   blueberries             15              2.5
1        apples             12              1.0
2       bananas             10              0.5
3   raspberries              5              3.0
4  strawberries              3              2.0

#### <font color='purple'>Re-ordering columns</font>

In [33]:
df1 = df1[['number_plants', 'price_per_plant', 'crop_type']]
df1.head()

   number_plants  price_per_plant     crop_type
0             15              2.5   blueberries
1             12              1.0        apples
2             10              0.5       bananas
3              5              3.0   raspberries
4              3              2.0  strawberries