#### <font color='purple'>Importing Libraries</font>

In [19]:
import pandas as pd
import numpy as np

###  
#### <font color='purple'>Importing CSV</font>

In [20]:
#setting file path
filepath = '/Users/crystalm/Desktop/fruits.csv'

#reading in csv into a dataframe
df = pd.read_csv(filepath)

#displaying the first 5 records of the dataframe
df.head()

          fruit  quanitity   price
0   blueberries         15  $2.50
1        apples         12  $1.00
2       bananas         10  $0.50
3   raspberries          5  $3.00
4  strawberries          3     $2

###  
#### <font color='purple'>Exporting CSV</font>

In [21]:
#creating a dataframe to export
data = {'fruit': ['blueberries', 'apples', 'bananas', 'raspberries', 'strawberries'], 
        'quanitity': [15, 12, 10, 5, 3],
        'price': ['$2.50', '$1.00', '$0.50', '$3.00', '$2.00']}
df1 = pd.DataFrame(data, columns = ['fruit', 'quanitity', 'price'])
df1

          fruit  quanitity  price
0   blueberries         15  $2.50
1        apples         12  $1.00
2       bananas         10  $0.50
3   raspberries          5  $3.00
4  strawberries          3  $2.00

In [22]:
#setting up file path + name
file_name = '/Users/crystalm/Desktop/fruits_out.csv'
#exporting dataframe to CSV
df1.to_csv(file_name, sep='\t')