In [12]:
%matplotlib inline 
import matplotlib.pyplot as plt 
import pandas 
import numpy as np

import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std

import plotly.plotly as py
import plotly.graph_objs as go
from plotly.tools import FigureFactory as FF
py.sign_in('erikrood','3eqsrype8v')

#dataset source: http://www.transtats.bts.gov/Fields.asp?Table_ID=236

#fields 
# "YEAR","MONTH","DAY_OF_MONTH","DAY_OF_WEEK","FL_DATE","UNIQUE_CARRIER","AIRLINE_ID","ORIGIN_AIRPORT_ID",
#"ORIGIN_AIRPORT_SEQ_ID","ORIGIN_CITY_MARKET_ID","ORIGIN","ORIGIN_CITY_NAME","ORIGIN_STATE_ABR","DEST_AIRPORT_ID",
#"DEST_AIRPORT_SEQ_ID","DEST_CITY_MARKET_ID","DEST","DEST_CITY_NAME","DEST_STATE_ABR","DEST_STATE_NM","CRS_DEP_TIME",
#"DEP_TIME","DEP_DELAY","DEP_DELAY_NEW","TAXI_OUT","TAXI_IN","CRS_ARR_TIME","ARR_TIME","ARR_DELAY","ARR_DELAY_NEW",
#"CANCELLED","CANCELLATION_CODE","DIVERTED","CRS_ELAPSED_TIME","ACTUAL_ELAPSED_TIME","AIR_TIME","FLIGHTS","DISTANCE",
#"CARRIER_DELAY","WEATHER_DELAY","NAS_DELAY","SECURITY_DELAY","LATE_AIRCRAFT_DELAY",

In [8]:
fout=open("/Users/erikrood/desktop/airline_ontime/out.csv","a")
# first file:
for line in open('/Users/erikrood/desktop/airline_ontime/sh1.csv'):
    fout.write(line)
# now the rest:    
for num in range(2,12):
    f = open("/Users/erikrood/desktop/airline_ontime/sh"+str(num)+".csv")
    f.next() # skip the header
    for line in f:
         fout.write(line)
    f.close() # not really needed
fout.close()

In [9]:
airline_ontime = pandas.read_csv('/Users/erikrood/desktop/airline_ontime/out.csv')

/Users/erikrood/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning:

Columns (0,1,2,3,6,7,8,9,13,14,15,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.

In [16]:
len(airline_ontime)

11539600

In [23]:
airline_ontime.head(100)

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 43
0,2015,2,11,3,2015-02-11,OO,20304,12266,1226603,31453,...,179,136,1,913,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,2,7,6,2015-02-07,OO,20304,12266,1226603,31453,...,229,205,1,1385,0,0,16,0,0,NaN
2,2015,2,24,2,2015-02-24,OO,20304,12266,1226603,31453,...,125,109,1,912,124,0,0,0,0,NaN
3,2015,2,27,5,2015-02-27,OO,20304,12266,1226603,31453,...,143,114,1,986,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,2,17,2,2015-02-17,OO,20304,12266,1226603,31453,...,143,110,1,986,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,2,26,4,2015-02-26,OO,20304,12266,1226603,31453,...,168,115,1,986,6,0,21,0,0,NaN
6,2015,2,19,4,2015-02-19,OO,20304,12266,1226603,31453,...,152,134,1,986,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,2,25,3,2015-02-25,OO,20304,12266,1226603,31453,...,154,115,1,986,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,2,12,4,2015-02-12,OO,20304,12266,1226603,31453,...,157,132,1,986,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,2,16,1,2015-02-16,OO,20304,12266,1226603,31453,...,148,107,1,986,1,0,1,0,31,NaN
10,2015,2,13,5,2015-02-13,OO,20304,12266,1226603,31453,...,156,133,1,986,NaN,NaN,NaN,NaN,NaN,NaN
11,2015,2,20,5,2015-02-20,OO,20304,12266,1226603,31453,...,152,126,1,986,NaN,NaN,NaN,NaN,NaN,NaN
12,2015,2,23,1,2015-02-23,OO,20304,12266,1226603,31453,...,145,118,1,986,NaN,NaN,NaN,NaN,NaN,NaN
13,2015,2,18,3,2015-02-18,OO,20304,12266,1226603,31453,...,151,132,1,986,NaN,NaN,NaN,NaN,NaN,NaN
14,2015,2,14,6,2015-02-14,OO,20304,12266,1226603,31453,...,174,147,1,886,NaN,NaN,NaN,NaN,NaN,NaN
15,2015,2,22,7,2015-02-22,OO,20304,12266,1226603,31453,...,94,63,1,468,NaN,NaN,NaN,NaN,NaN,NaN
16,2015,2,15,7,2015-02-15,OO,20304,12266,1226603,31453,...,100,64,1,468,NaN,NaN,NaN,NaN,NaN,NaN
17,2015,2,28,6,2015-02-28,OO,20304,12266,1226603,31453,...,141,124,1,956,30,0,0,0,10,NaN
18,2015,2,21,6,2015-02-21,OO,20304,12266,1226603,31453,...,137,119,1,956,NaN,NaN,NaN,NaN,NaN,NaN
19,2015,2,3,2,2015-02-03,OO,20304,12266,1226603,31453,...,139,116,1,956,NaN,NaN,NaN,NaN,NaN,NaN
20,2015,2,10,2,2015-02-10,OO,20304,12266,1226603,31453,...,149,131,1,956,NaN,NaN,NaN,NaN,NaN,NaN
21,2015,2,18,3,2015-02-18,OO,20304,11278,1127802,30852,...,128,101,1,612,0,0,0,0,28,NaN
22,2015,2,5,4,2015-02-05,OO,20304,11278,1127802,30852,...,109,99,1,612,NaN,NaN,NaN,NaN,NaN,NaN
23,2015,2,3,2,2015-02-03,OO,20304,11278,1127802,30852,...,142,104,1,612,0,0,7,0,41,NaN
24,2015,2,12,4,2015-02-12,OO,20304,11278,1127802,30852,...,126,98,1,612,NaN,NaN,NaN,NaN,NaN,NaN
25,2015,2,4,3,2015-02-04,OO,20304,11278,1127802,30852,...,145,116,1,612,NaN,NaN,NaN,NaN,NaN,NaN
26,2015,2,11,3,2015-02-11,OO,20304,11278,1127802,30852,...,128,102,1,612,NaN,NaN,NaN,NaN,NaN,NaN
27,2015,2,13,5,2015-02-13,OO,20304,11278,1127802,30852,...,124,100,1,612,NaN,NaN,NaN,NaN,NaN,NaN
28,2015,2,6,5,2015-02-06,OO,20304,11278,1127802,30852,...,138,106,1,612,NaN,NaN,NaN,NaN,NaN,NaN
29,2015,2,24,2,2015-02-24,OO,20304,11278,1127802,30852,...,132,102,1,612,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2015,2,15,7,2015-02-15,OO,20304,10397,1039705,30397,...,158,109,1,606,0,0,30,0,47,NaN
71,2015,2,3,2,2015-02-03,OO,20304,10423,1042302,30423,...,52,34,1,140,0,0,0,0,30,NaN
72,2015,2,10,2,2015-02-10,OO,20304,10423,1042302,30423,...,47,32,1,140,NaN,NaN,NaN,NaN,NaN,NaN
73,2015,2,11,3,2015-02-11,OO,20304,10423,1042302,30423,...,52,35,1,140,NaN,NaN,NaN,NaN,NaN,NaN
74,2015,2,1,7,2015-02-01,OO,20304,10423,1042302,30423,...,55,35,1,140,NaN,NaN,NaN,NaN,NaN,NaN
75,2015,2,18,3,2015-02-18,OO,20304,10423,1042302,30423,...,47,35,1,140,NaN,NaN,NaN,NaN,NaN,NaN
76,2015,2,17,2,2015-02-17,OO,20304,10423,1042302,30423,...,59,32,1,140,NaN,NaN,NaN,NaN,NaN,NaN
77,2015,2,25,3,2015-02-25,OO,20304,10423,1042302,30423,...,71,37,1,140,NaN,NaN,NaN,NaN,NaN,NaN
78,2015,2,4,3,2015-02-04,OO,20304,10423,1042302,30423,...,56,38,1,140,NaN,NaN,NaN,NaN,NaN,NaN
79,2015,2,24,2,2015-02-24,OO,20304,10423,1042302,30423,...,55,34,1,140,NaN,NaN,NaN,NaN,NaN,NaN
80,2015,2,22,7,2015-02-22,OO,20304,10423,1042302,30423,...,52,26,1,140,NaN,NaN,NaN,NaN,NaN,NaN
81,2015,2,28,6,2015-02-28,OO,20304,10713,1071302,30713,...,97,84,1,649,NaN,NaN,NaN,NaN,NaN,NaN
82,2015,2,14,6,2015-02-14,OO,20304,10713,1071302,30713,...,111,88,1,649,NaN,NaN,NaN,NaN,NaN,NaN
83,2015,2,5,4,2015-02-05,OO,20304,10713,1071302,30713,...,97,80,1,649,0,0,0,0,134,NaN
84,2015,2,19,4,2015-02-19,OO,20304,10713,1071302,30713,...,103,79,1,649,NaN,NaN,NaN,NaN,NaN,NaN
85,2015,2,8,7,2015-02-08,OO,20304,10713,1071302,30713,...,96,79,1,649,NaN,NaN,NaN,NaN,NaN,NaN
86,2015,2,6,5,2015-02-06,OO,20304,10713,1071302,30713,...,102,84,1,649,NaN,NaN,NaN,NaN,NaN,NaN
87,2015,2,26,4,2015-02-26,OO,20304,11066,1106603,31066,...,195,167,1,1154,0,0,0,0,32,NaN
88,2015,2,27,5,2015-02-27,OO,20304,11066,1106603,31066,...,222,164,1,1154,NaN,NaN,NaN,NaN,NaN,NaN
89,2015,2,20,5,2015-02-20,OO,20304,11193,1119302,33105,...,69,50,1,265,9,0,0,0,43,NaN
90,2015,2,16,1,2015-02-16,OO,20304,11193,1119302,33105,...,95,47,1,265,NaN,NaN,NaN,NaN,NaN,NaN
91,2015,2,23,1,2015-02-23,OO,20304,11292,1129202,30325,...,85,57,1,349,0,0,4,0,87,NaN
92,2015,2,13,5,2015-02-13,OO,20304,11292,1129202,30325,...,155,123,1,1014,NaN,NaN,NaN,NaN,NaN,NaN
93,2015,2,12,4,2015-02-12,OO,20304,11292,1129202,30325,...,151,128,1,1014,NaN,NaN,NaN,NaN,NaN,NaN
94,2015,2,26,4,2015-02-26,OO,20304,11292,1129202,30325,...,118,87,1,627,NaN,NaN,NaN,NaN,NaN,NaN
95,2015,2,27,5,2015-02-27,OO,20304,11292,1129202,30325,...,110,90,1,627,0,0,0,0,45,NaN
96,2015,2,28,6,2015-02-28,OO,20304,11292,1129202,30325,...,104,82,1,604,NaN,NaN,NaN,NaN,NaN,NaN
97,2015,2,8,7,2015-02-08,OO,20304,11292,1129202,30325,...,111,94,1,604,NaN,NaN,NaN,NaN,NaN,NaN
98,2015,2,5,4,2015-02-05,OO,20304,11292,1129202,30325,...,114,95,1,604,NaN,NaN,NaN,NaN,NaN,NaN
99,2015,2,6,5,2015-02-06,OO,20304,11292,1129202,30325,...,111,91,1,604,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
year = ['2015']
Data_2015 = airline_ontime[airline_ontime['YEAR'].isin(year)]

In [41]:
Data_2015.head(100)

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 43
425984,2015,2,19,4,2015-02-19,US,20355,12953,1295302,31703,...,122.00,95.00,1.00,544.00,NaN,NaN,NaN,NaN,NaN,NaN
425985,2015,2,19,4,2015-02-19,US,20355,11278,1127802,30852,...,131.00,115.00,1.00,814.00,NaN,NaN,NaN,NaN,NaN,NaN
425986,2015,2,19,4,2015-02-19,US,20355,15304,1530402,33195,...,149.00,111.00,1.00,814.00,0.00,0.00,22.00,0.00,2.00,NaN
425987,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,104.00,84.00,1.00,600.00,NaN,NaN,NaN,NaN,NaN,NaN
425988,2015,2,19,4,2015-02-19,US,20355,12892,1289203,32575,...,263.00,231.00,1.00,2125.00,NaN,NaN,NaN,NaN,NaN,NaN
425989,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,146.00,91.00,1.00,600.00,0.00,0.00,34.00,0.00,0.00,NaN
425990,2015,2,19,4,2015-02-19,US,20355,14107,1410702,30466,...,224.00,197.00,1.00,1773.00,NaN,NaN,NaN,NaN,NaN,NaN
425991,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,109.00,84.00,1.00,500.00,17.00,0.00,0.00,0.00,0.00,NaN
425992,2015,2,19,4,2015-02-19,US,20355,13495,1349503,33495,...,100.00,80.00,1.00,651.00,9.00,0.00,0.00,0.00,64.00,NaN
425993,2015,2,19,4,2015-02-19,US,20355,11042,1104203,30647,...,103.00,64.00,1.00,363.00,NaN,NaN,NaN,NaN,NaN,NaN
425994,2015,2,19,4,2015-02-19,US,20355,14100,1410002,34100,...,173.00,148.00,1.00,951.00,NaN,NaN,NaN,NaN,NaN,NaN
425995,2015,2,19,4,2015-02-19,US,20355,14100,1410002,34100,...,318.00,298.00,1.00,2075.00,NaN,NaN,NaN,NaN,NaN,NaN
425996,2015,2,19,4,2015-02-19,US,20355,14027,1402702,34027,...,154.00,140.00,1.00,951.00,NaN,NaN,NaN,NaN,NaN,NaN
425997,2015,2,19,4,2015-02-19,US,20355,14100,1410002,34100,...,175.00,141.00,1.00,951.00,NaN,NaN,NaN,NaN,NaN,NaN
425998,2015,2,19,4,2015-02-19,US,20355,14100,1410002,34100,...,237.00,192.00,1.00,1325.00,NaN,NaN,NaN,NaN,NaN,NaN
425999,2015,2,19,4,2015-02-19,US,20355,10721,1072102,30721,...,119.00,71.00,1.00,280.00,NaN,NaN,NaN,NaN,NaN,NaN
426000,2015,2,19,4,2015-02-19,US,20355,14100,1410002,34100,...,333.00,297.00,1.00,2075.00,NaN,NaN,NaN,NaN,NaN,NaN
426001,2015,2,19,4,2015-02-19,US,20355,14107,1410702,30466,...,60.00,42.00,1.00,255.00,NaN,NaN,NaN,NaN,NaN,NaN
426002,2015,2,19,4,2015-02-19,US,20355,10721,1072102,30721,...,88.00,64.00,1.00,280.00,NaN,NaN,NaN,NaN,NaN,NaN
426003,2015,2,19,4,2015-02-19,US,20355,14100,1410002,34100,...,237.00,210.00,1.00,1325.00,30.00,0.00,1.00,0.00,0.00,NaN
426004,2015,2,19,4,2015-02-19,US,20355,13303,1330303,32467,...,119.00,96.00,1.00,650.00,NaN,NaN,NaN,NaN,NaN,NaN
426005,2015,2,19,4,2015-02-19,US,20355,10397,1039705,30397,...,79.00,41.00,1.00,226.00,NaN,NaN,NaN,NaN,NaN,NaN
426006,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,89.00,76.00,1.00,507.00,NaN,NaN,NaN,NaN,NaN,NaN
426007,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,97.00,75.00,1.00,541.00,NaN,NaN,NaN,NaN,NaN,NaN
426008,2015,2,19,4,2015-02-19,US,20355,11278,1127802,30852,...,82.00,61.00,1.00,331.00,NaN,NaN,NaN,NaN,NaN,NaN
426009,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,141.00,90.00,1.00,650.00,NaN,NaN,NaN,NaN,NaN,NaN
426010,2015,2,19,4,2015-02-19,US,20355,14100,1410002,34100,...,173.00,145.00,1.00,980.00,NaN,NaN,NaN,NaN,NaN,NaN
426011,2015,2,19,4,2015-02-19,US,20355,14100,1410002,34100,...,159.00,129.00,1.00,920.00,NaN,NaN,NaN,NaN,NaN,NaN
426012,2015,2,19,4,2015-02-19,US,20355,15304,1530402,33195,...,98.00,79.00,1.00,507.00,NaN,NaN,NaN,NaN,NaN,NaN
426013,2015,2,19,4,2015-02-19,US,20355,10397,1039705,30397,...,272.00,235.00,1.00,1587.00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426054,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,159.00,112.00,1.00,599.00,3.00,0.00,24.00,0.00,0.00,NaN
426055,2015,2,19,4,2015-02-19,US,20355,14100,1410002,34100,...,81.00,51.00,1.00,280.00,NaN,NaN,NaN,NaN,NaN,NaN
426056,2015,2,19,4,2015-02-19,US,20355,14492,1449202,34492,...,77.00,57.00,1.00,337.00,NaN,NaN,NaN,NaN,NaN,NaN
426057,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,121.00,95.00,1.00,683.00,NaN,NaN,NaN,NaN,NaN,NaN
426058,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,179.00,150.00,1.00,930.00,1.00,0.00,15.00,0.00,0.00,NaN
426059,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,116.00,90.00,1.00,590.00,NaN,NaN,NaN,NaN,NaN,NaN
426060,2015,2,19,4,2015-02-19,US,20355,12892,1289203,32575,...,260.00,224.00,1.00,2125.00,NaN,NaN,NaN,NaN,NaN,NaN
426061,2015,2,19,4,2015-02-19,US,20355,10529,1052904,30529,...,118.00,100.00,1.00,644.00,8.00,0.00,0.00,0.00,14.00,NaN
426062,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,79.00,62.00,1.00,328.00,NaN,NaN,NaN,NaN,NaN,NaN
426063,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,100.00,81.00,1.00,500.00,NaN,NaN,NaN,NaN,NaN,NaN
426064,2015,2,19,4,2015-02-19,US,20355,14122,1412202,30198,...,78.00,60.00,1.00,366.00,NaN,NaN,NaN,NaN,NaN,NaN
426065,2015,2,19,4,2015-02-19,US,20355,14635,1463502,31714,...,156.00,136.00,1.00,993.00,NaN,NaN,NaN,NaN,NaN,NaN
426066,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,95.00,77.00,1.00,507.00,44.00,0.00,0.00,0.00,34.00,NaN
426067,2015,2,19,4,2015-02-19,US,20355,11278,1127802,30852,...,126.00,108.00,1.00,759.00,NaN,NaN,NaN,NaN,NaN,NaN
426068,2015,2,19,4,2015-02-19,US,20355,13204,1320402,31454,...,135.00,107.00,1.00,759.00,NaN,NaN,NaN,NaN,NaN,NaN
426069,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,90.00,73.00,1.00,507.00,NaN,NaN,NaN,NaN,NaN,NaN
426070,2015,2,19,4,2015-02-19,US,20355,12266,1226603,31453,...,147.00,113.00,1.00,912.00,NaN,NaN,NaN,NaN,NaN,NaN
426071,2015,2,19,4,2015-02-19,US,20355,11278,1127802,30852,...,127.00,107.00,1.00,759.00,0.00,0.00,0.00,0.00,18.00,NaN
426072,2015,2,19,4,2015-02-19,US,20355,13204,1320402,31454,...,123.00,102.00,1.00,759.00,NaN,NaN,NaN,NaN,NaN,NaN
426073,2015,2,19,4,2015-02-19,US,20355,10821,1082103,30852,...,85.00,63.00,1.00,361.00,NaN,NaN,NaN,NaN,NaN,NaN
426074,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,106.00,88.00,1.00,590.00,NaN,NaN,NaN,NaN,NaN,NaN
426075,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,103.00,86.00,1.00,650.00,NaN,NaN,NaN,NaN,NaN,NaN
426076,2015,2,19,4,2015-02-19,US,20355,11278,1127802,30852,...,131.00,109.00,1.00,759.00,NaN,NaN,NaN,NaN,NaN,NaN
426077,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,103.00,78.00,1.00,500.00,NaN,NaN,NaN,NaN,NaN,NaN
426078,2015,2,19,4,2015-02-19,US,20355,14122,1412202,30198,...,92.00,61.00,1.00,366.00,NaN,NaN,NaN,NaN,NaN,NaN
426079,2015,2,19,4,2015-02-19,US,20355,11278,1127802,30852,...,128.00,106.00,1.00,759.00,NaN,NaN,NaN,NaN,NaN,NaN
426080,2015,2,19,4,2015-02-19,US,20355,13204,1320402,31454,...,132.00,102.00,1.00,759.00,NaN,NaN,NaN,NaN,NaN,NaN
426081,2015,2,19,4,2015-02-19,US,20355,14100,1410002,34100,...,320.00,287.00,1.00,2075.00,NaN,NaN,NaN,NaN,NaN,NaN
426082,2015,2,19,4,2015-02-19,US,20355,11057,1105703,31057,...,103.00,80.00,1.00,430.00,NaN,NaN,NaN,NaN,NaN,NaN
426083,2015,2,19,4,2015-02-19,US,20355,12953,1295302,31703,...,137.00,86.00,1.00,544.00,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
Data_2015.tail()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 43
6209531,2015,2,23,1,2015-02-23,US,20355,14492,1449202,34492,...,68.00,54.00,1.00,337.00,NaN,NaN,NaN,NaN,NaN,NaN
6209532,2015,2,23,1,2015-02-23,US,20355,12266,1226603,31453,...,170.00,153.00,1.00,1325.00,NaN,NaN,NaN,NaN,NaN,NaN
6209533,2015,2,23,1,2015-02-23,US,20355,14100,1410002,34100,...,169.00,154.00,1.00,980.00,NaN,NaN,NaN,NaN,NaN,NaN
6209534,2015,2,23,1,2015-02-23,US,20355,11057,1105703,31057,...,83.00,59.00,1.00,366.00,NaN,NaN,NaN,NaN,NaN,NaN
6209535,2015,2,23,1,2015-02-23,US,20355,13198,1319801,33198,...,111.00,94.00,1.00,808.00,2.00,0.00,0.00,0.00,13.00,NaN

In [47]:
df = Data_2015[["AIRLINE_ID","ARR_DELAY"]]
#Difference in minutes between scheduled and actual arrival time. Early arrivals set to 0.
#ARR_DELAY shows negatives for early arrivals

#,"DEP_DELAY_NEW","ARR_DELAY_NEW","CARRIER_DELAY","WEATHER_DELAY","NAS_DELAY","SECURITY_DELAY","LATE_AIRCRAFT_DELAY"]
df1 = df.sort_values(by = 'ARR_DELAY')
df1.head()

       AIRLINE_ID ARR_DELAY
428981      20304     -1.00
435759      20355     -1.00
430792      20355     -1.00
430789      20355     -1.00
437250      20355     -1.00

In [48]:
df1[['ARR_DELAY']] = df1[['ARR_DELAY']].astype(float)
df2 = df1.groupby('AIRLINE_ID').mean().sort_values(by='ARR_DELAY',ascending=False).round(decimals=0).reset_index()
df2.head()
#cuts - OT arrival by carrier, state, month, day of week
#cuts pt. 2 - taxi time by ^^
#cuts pt. 3 - cancellations as % of total flights

  AIRLINE_ID  ARR_DELAY
0      20355       10.0
1      20304        9.0
2      21171        8.0
3      19393        3.0