In [107]:
%matplotlib inline 
import matplotlib.pyplot as plt 
import pandas as pd
import numpy as np

import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std

import plotly.plotly as py
import plotly.graph_objs as go
py.sign_in('erikrood','3eqsrype8v')

#source - https://github.com/voxmedia/data-projects/blob/master/verge-drones-over-america/readme.md

#working trix - likely will need to do a weighted point system to separate by true category
#also, could do map to see where in the US (state-wise) the drone permits are coming in

In [21]:
DroneData = pandas.read_csv('/Users/erikrood/desktop/ipython_datasets/drone-data-full 2.csv')

In [25]:
DroneData.head(2000)

,date,company,category,various_applications,aircraft,location
0,9/25/2014,Astraeus Aerial,Photo/Film,False,Astraeus Aerial Cinema System V.3CS UAS,CA
1,9/25/2014,Aerial MOB,Photo/Film,False,"HexaCrafter HC-1100, Aeronavics SkyJib 8 Heavy...",CA
2,9/25/2014,Pictorvision,Photo/Film,False,"PV- 14817, PVHL1, PV- 14817 PV-HL2, DJI Phanto...",CA
3,9/25/2014,"RC Pro Productions Consulting, dba Vortex Aerial",Photo/Film,False,"Coaxial Quad Multirotor VAO1, Coaxial Quad Mul...",CA
4,9/25/2014,Snaproll Media,Photo/Film,False,"Snaproll Media SUAS, Freefly Cinestar 6, Freef...",TN
5,9/25/2014,HeliVideo Productions,Photo/Film,False,"HVP- 14301 MultiRotor, Rotorcraft Model ERX12",TX
6,10/10/2014,Flying Cam,"Manufacturer, Photo/Film",False,Flying-Cam 3.0 SARAH,CA
7,12/10/2014,"Trimble Navigation, Ltd","Manufacturer, Agriculture",False,"Trimble UX5, Trimble UX5 hp, Trimble ZX5, Eagl...",CA
8,12/10/2014,Clayco,Construction,False,Skycatch Unmanned Aircraft System,IL
9,12/10/2014,Woolpert (I),"Manufacturer, Agriculture",False,Woolpert Altavian Nova Block III (Nova Block III),OH
10,12/10/2014,Woolpert (II),"Manufacturer, Agriculture",False,Woolpert Altavian Nova Block III (Nova Block III),OH
11,12/10/2014,VDOS Global,Utilities/Energy/Infrastructure,False,SkyRanger,OR
12,1/6/2015,"Douglas Trudeau, Tierra Antigua Realty",Real Estate,False,DJI Phantom 2 Vision+,AZ
13,1/6/2015,Advanced Aviation Solutions,Agriculture,False,SenseFly eBee,WA
14,1/23/2015,AeroCine,Photo/Film,False,"AeroCine Kopterworx Hammer X12, DJI S1000, Aerobo",CA
15,1/23/2015,Burnz Eye View,Photo/Film,False,"DJI Phantom 2, DJI S100, DJI Inspire",CA
16,1/29/2015,Team 5,Photo/Film,False,"Gryphon Dynamics X8, DJI S1000",CA
17,1/29/2015,Shotover,Photo/Film,False,"Gryphon Dynamics X8, DJI S1000",CA
18,1/29/2015,Total Safety U.S.,Utilities/Energy/Infrastructure,False,DJI S1000,TX
19,1/29/2015,"Slugwear, dba LikeonaTree",Photo/Film,False,DJI Phantom 2,WA
20,2/3/2015,"Helinet Aviation Services, LLC",Photo/Film,False,"Gryphon Dynamics X8, DJI S1000",CA
21,2/3/2015,Alan D. Purwin,Photo/Film,False,"Gryphon Dynamics X8, DJI S1000",CA
22,2/6/2015,"Pravia, LLC (I)",Agriculture,False,SenseFly eBee,FL
23,2/6/2015,"Pravia, LLC (II)",Agriculture,False,E384 Unmanned Aircraft System,FL
24,2/9/2015,Viafield,Agriculture,False,"SenseFly eBee, CropCopter Max Flight",IA
25,2/10/2015,Blue-Chip UAS,Photo/Film,False,Sensurion Magpie MP-1,KS
26,2/10/2015,Asymmetric Technologies,Utilities/Energy/Infrastructure,False,"Microdrone MD4-1000, Microdrone MD4-200",OH
27,2/13/2015,"Chevron UAS, Inc.",Utilities/Energy/Infrastructure,False,Skycatch,CA
28,2/13/2015,State Farm Mutual Automobile Insurance Company,Inusrance,False,"Aerialtronics Altura Zenith ATX8, Altavian Nov...",IL
29,2/13/2015,"Capital Aerial Video, LLC",Real Estate,False,DJI F550,TX
...,...,...,...,...,...,...
1970,10/23/2015,"Flight View360, LLC","Real Estate, Insurance, Photo/Film",False,Yuneec Typhoon Q500+,MN
1971,10/23/2015,Sentera LLC,"Photo/Film, Emergency Services, Government Con...",False,"DJI Phantom 2, DJI Phantom 3, DJI Inspire 1, L...",MN
1972,10/23/2015,Innovative Imaging & Research,"Emergency Services, Photo/Film",False,3DR ArduCopter hexacopter,MS
1973,10/23/2015,JMD Empire Inc,"Construction, Real Estate, Photo/Film",False,DJI Phantom 3,Oaks
1974,10/23/2015,Hart Associates Inc,Photo/Film,False,DJI Inspire 1,OH
1975,10/23/2015,Murray Multimedia Resources LLC dba SpotOn Pro...,"Photo/Film, Construction, Government Contracting",False,"DJI Phantom 2 Vision+, DJI Inspire 1",OH
1976,10/23/2015,Nationwide Insurance,Insurance,False,"Microdrone md4-1000, Aerialtronics Altura Zeni...",OH
1977,10/23/2015,Jeffrey L. Taliaferro Photography,"Construction, Real Estate, Photo/Film",False,"DJI Inspire 1, DJI Phantom 2 Vision+, DJI Phan...",OK
1978,10/23/2015,Image Engineering Photography,"Photo/Film, Utilities/Energy/Infrastructure, A...",True,"DJI Phantom 1, HMF S550, DJI S900, DJI Inspire...",OR
1979,10/23/2015,Third Eye Productions Inc,"Photo/Film, Real Estate",False,"DJI Inspire 1, DJI Phantom 3",PA
1980,10/23/2015,Zackary Tempesco,Photo/Film,False,Blade QX3,PA
1981,10/23/2015,"Sedgwick Claims Management Services, Inc","Insurance, Emergency Services",False,DJI Phantom 2 Vision+,TN
1982,10/23/2015,Full Fledge Entertainment LLC,"Photo/Film, Utilities/Energy/Infrastructure",False,"Aericam X6, DJI Inspire 1",TX
1983,10/23/2015,OnPoynt Unmanned Systems LLC,"Photo/Film, Education",False,"DJI Phantom, DJI Inspire, Flame Wheel F550, Fl...",TX
1984,10/23/2015,"SDI Engineering, LLC","Utilities/Energy/Infrastructure, Construction",False,"DJI Phantom 2 Vision+, DJI Inspire 1",TX
1985,10/23/2015,UdroneAir,Photo/Film,False,Cheerson CX 20,TX
1986,10/23/2015,Autonomous Flight Technologies,"Photo/Film, Agriculture, Utilities/Energy/Infr...",True,"DJI Phantom 3, DJI Phantom 2 Vision Plus1 , DJ...",VA
1987,10/23/2015,Active Web FX Media,"Photo/Film, Real Estate",False,DJI Phantom 3 Professional,WA
1988,10/23/2015,Andersen Ross Photography Inc,"Photo/Film, Real Estate, Construction, Agricul...",True,"HMF S550, Gryphon Dynamics XQ800F, DJI T600, D...",WA
1989,10/27/2015,Ronald Brian Emfinger,"Photo/Film, Emergency Services, Real Estate",False,"DJI Phantom 2, DJI Phantom 3, DJI Inspire 1",AR
1990,10/27/2015,Innovative Support Services LLC,Photo/Film,False,DJI Inspire 1,AZ
1991,10/27/2015,Drone Universities,Photo/Film,False,DJI Inspire 1,CA
1992,10/27/2015,Hover Effect LLC,"Photo/Film, Real Estate",False,"DJI Phantom 1, DJI Spreading Wings S800, Freef...",CA
1993,10/27/2015,Blackbird Aerial Systems,"Photo/Film, Conservation, Emergency Services",False,"DJI Phantom Vision 2, DJI Phantom 3, DJI Phant...",CO
1994,10/27/2015,Eagle Eye UAS LLC,"Real Estate, Photo/Film, Utilities/Energy/Infr...",True,Yuneec Q500+,CO
1995,10/27/2015,Rival Services LLC,Photo/Film,False,DJI Phantom 3 Professional,CO
1996,10/27/2015,Sylph Ltd,"Photo/Film, Real Estate, Emergency Services, C...",True,DJI Inspire 1,CO
1997,10/27/2015,Advanced Drone Solutions LLC,Photo/Film,False,"DJI Phantom 2, DJI Phantom 2 Vision, DJI Phant...",FL
1998,10/27/2015,Bogdan Shtyrkalo,"Photo/Film, Agriculture",False,DJI Phantom 3,FL
1999,10/27/2015,David Pratt,"Photo/Film, Construction, Real Estate",False,DJI Phantom 3 Professional,FL

In [23]:
#n-count by category, date, location (map)
len(DroneData)

2733

In [32]:
DroneData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2733 entries, 0 to 2732
Data columns (total 7 columns):
date                    2733 non-null object
company                 2733 non-null object
category                2733 non-null object
various_applications    2733 non-null bool
aircraft                2733 non-null object
location                2712 non-null object
count                   2733 non-null int64
dtypes: bool(1), int64(1), object(5)
memory usage: 130.8+ KB

In [177]:
#converting category field to string
DroneData[['category']] = DroneData[['category']].astype(str)
DroneData[['company']] = DroneData[['company']].astype(str)
DroneData[['count']] = DroneData[['count']].astype(float)

In [28]:
#defining function to count the # of commas in the category field
#ultimately used to weight the occurance since some registrations list multiple categories
def count_fx(s):
    return s.count(',')
DroneData['count'] = DroneData['category'].apply(count_fx)

In [30]:
DroneData.head(10)

,date,company,category,various_applications,aircraft,location,count
0,9/25/2014,Astraeus Aerial,Photo/Film,False,Astraeus Aerial Cinema System V.3CS UAS,CA,0
1,9/25/2014,Aerial MOB,Photo/Film,False,"HexaCrafter HC-1100, Aeronavics SkyJib 8 Heavy...",CA,0
2,9/25/2014,Pictorvision,Photo/Film,False,"PV- 14817, PVHL1, PV- 14817 PV-HL2, DJI Phanto...",CA,0
3,9/25/2014,"RC Pro Productions Consulting, dba Vortex Aerial",Photo/Film,False,"Coaxial Quad Multirotor VAO1, Coaxial Quad Mul...",CA,0
4,9/25/2014,Snaproll Media,Photo/Film,False,"Snaproll Media SUAS, Freefly Cinestar 6, Freef...",TN,0
5,9/25/2014,HeliVideo Productions,Photo/Film,False,"HVP- 14301 MultiRotor, Rotorcraft Model ERX12",TX,0
6,10/10/2014,Flying Cam,"Manufacturer, Photo/Film",False,Flying-Cam 3.0 SARAH,CA,1
7,12/10/2014,"Trimble Navigation, Ltd","Manufacturer, Agriculture",False,"Trimble UX5, Trimble UX5 hp, Trimble ZX5, Eagl...",CA,1
8,12/10/2014,Clayco,Construction,False,Skycatch Unmanned Aircraft System,IL,0
9,12/10/2014,Woolpert (I),"Manufacturer, Agriculture",False,Woolpert Altavian Nova Block III (Nova Block III),OH,1

In [44]:
DroneData[['count']] = DroneData[['count']].astype(int)

In [48]:
#creating the weighted score variable, defined as 1/# of categories included in registration
DroneData['weighted_score'] = np.where((DroneData['count']>0),1/(DroneData["count"]+1),0)

In [55]:
DroneData.head(10)

,date,company,category,various_applications,aircraft,location,count,weighted_score
0,9/25/2014,Astraeus Aerial,Photo/Film,False,Astraeus Aerial Cinema System V.3CS UAS,CA,0,0.0
1,9/25/2014,Aerial MOB,Photo/Film,False,"HexaCrafter HC-1100, Aeronavics SkyJib 8 Heavy...",CA,0,0.0
2,9/25/2014,Pictorvision,Photo/Film,False,"PV- 14817, PVHL1, PV- 14817 PV-HL2, DJI Phanto...",CA,0,0.0
3,9/25/2014,"RC Pro Productions Consulting, dba Vortex Aerial",Photo/Film,False,"Coaxial Quad Multirotor VAO1, Coaxial Quad Mul...",CA,0,0.0
4,9/25/2014,Snaproll Media,Photo/Film,False,"Snaproll Media SUAS, Freefly Cinestar 6, Freef...",TN,0,0.0
5,9/25/2014,HeliVideo Productions,Photo/Film,False,"HVP- 14301 MultiRotor, Rotorcraft Model ERX12",TX,0,0.0
6,10/10/2014,Flying Cam,"Manufacturer, Photo/Film",False,Flying-Cam 3.0 SARAH,CA,1,0.5
7,12/10/2014,"Trimble Navigation, Ltd","Manufacturer, Agriculture",False,"Trimble UX5, Trimble UX5 hp, Trimble ZX5, Eagl...",CA,1,0.5
8,12/10/2014,Clayco,Construction,False,Skycatch Unmanned Aircraft System,IL,0,0.0
9,12/10/2014,Woolpert (I),"Manufacturer, Agriculture",False,Woolpert Altavian Nova Block III (Nova Block III),OH,1,0.5

### Registration by state

In [71]:
df_map = DroneData[[1,5]]
#df = df_map.groupby('location')
#df.head(5)
df_map.head()

                                            company location
0                                   Astraeus Aerial       CA
1                                        Aerial MOB       CA
2                                      Pictorvision       CA
3  RC Pro Productions Consulting, dba Vortex Aerial       CA
4                                    Snaproll Media       TN

In [76]:
df=df_map.groupby('location').count().sort_values(by='company',ascending=False).reset_index()
df.head(100)

                                     location  company
0                                          FL      306
1                                          CA      305
2                                          TX      234
3                                          CO       89
4                                          IL       89
5                                          VA       84
6                                          OH       81
7                                          NC       80
8                                          PA       79
9                                          AZ       78
10                                         WA       77
11                                         MI       73
12                                         NY       71
13                                         GA       70
14                                         NJ       56
15                                         IN       54
16                                         MD       51
17                                         TN       48
18                                         MN       48
19                                         LA       47
20                                         OR       46
21                                         MA       42
22                                         OK       41
23                                         NV       39
24                                         SC       37
25                                         KY       36
26                                         MO       35
27                                         WI       35
28                                         IA       33
29                                         AL       29
..                                        ...      ...
37                                         AK       16
38                                         NE       16
39                                         NH       15
40                                         PR       12
41                                         WV       12
42                                         NM       12
43                                         WY       12
44                                         ND        9
45                                         MS        9
46                                         SD        9
47                                         AR        7
48                                         VT        6
49                                     Canada        5
50                                         RI        5
51                                         DC        5
52                                         DE        4
53                                        AK         3
54  20506 West Slater Road, Trivoli, IL 61569        1
55                            Alberta, Canada        1
56                                  Australia        1
57                                    Austria        1
58                               Switzerland         1
59                                  Corvallis        1
60                                        Las        1
61                                        San        1
62                                         NB        1
63                                          E        1
64                                       Oaks        1
65                                         KA        1
66                                                   1

[67 rows x 2 columns]

In [84]:
df.drop([54,55,56,57,58,59,60,61,62,63,64,65,66],inplace=True)
df.head(100)

   location  company
0        FL      306
1        CA      305
2        TX      234
3        CO       89
4        IL       89
5        VA       84
6        OH       81
7        NC       80
8        PA       79
9        AZ       78
10       WA       77
11       MI       73
12       NY       71
13       GA       70
14       NJ       56
15       IN       54
16       MD       51
17       TN       48
18       MN       48
19       LA       47
20       OR       46
21       MA       42
22       OK       41
23       NV       39
24       SC       37
25       KY       36
26       MO       35
27       WI       35
28       IA       33
29       AL       29
30       ID       28
31       CT       25
32       UT       23
33       KS       20
34       MT       19
35       HI       17
36       ME       17
37       AK       16
38       NE       16
39       NH       15
40       PR       12
41       WV       12
42       NM       12
43       WY       12
44       ND        9
45       MS        9
46       SD        9
47       AR        7
48       VT        6
50       RI        5
51       DC        5
52       DE        4
53      AK         3

In [271]:
#reference -- https://plot.ly/python/ipython-notebook-tutorial/
#embed -- <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~erikrood/0.embed"></iframe>

scl = [[0,"rgb(220, 220, 220)"],[0.35,"rgb(106, 137, 247)"],[0.5,"rgb(90, 120, 245)"],\
            [0.6,"rgb(70, 100, 245)"],[0.7,"rgb(40, 60, 190)"],[1,"rgb(5, 10, 172)"]]

df['text'] = df['location'] 
    
data = [dict(
    type='choropleth',
    colorscale = scl,
    autocolorscale = False,
    locations = df['location'],
    z = df['company'].astype(float),
    locationmode = 'USA-states',
    text = df['text'],
    hoverinfo = 'location+z',
    marker = dict(
        line = dict (
            color = 'rgb(255,255,255)',
            width = 2
        )
    ),
    colorbar = dict(
        title = "# of commercial drone registrations"
    )
)]

layout = dict(
    title = '# of commercial drone registrations by U.S. state',
    geo = dict(
        scope='usa',
        projection=dict( type='albers usa' ),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'
    )
)
    
fig = dict(data=data, layout=layout)

py.iplot(fig, validate=False, filename='drone_map')

In [96]:
DroneData.head(10)

,date,company,category,various_applications,aircraft,location,count,weighted_score
0,9/25/2014,Astraeus Aerial,Photo/Film,False,Astraeus Aerial Cinema System V.3CS UAS,CA,0,0.0
1,9/25/2014,Aerial MOB,Photo/Film,False,"HexaCrafter HC-1100, Aeronavics SkyJib 8 Heavy...",CA,0,0.0
2,9/25/2014,Pictorvision,Photo/Film,False,"PV- 14817, PVHL1, PV- 14817 PV-HL2, DJI Phanto...",CA,0,0.0
3,9/25/2014,"RC Pro Productions Consulting, dba Vortex Aerial",Photo/Film,False,"Coaxial Quad Multirotor VAO1, Coaxial Quad Mul...",CA,0,0.0
4,9/25/2014,Snaproll Media,Photo/Film,False,"Snaproll Media SUAS, Freefly Cinestar 6, Freef...",TN,0,0.0
5,9/25/2014,HeliVideo Productions,Photo/Film,False,"HVP- 14301 MultiRotor, Rotorcraft Model ERX12",TX,0,0.0
6,10/10/2014,Flying Cam,"Manufacturer, Photo/Film",False,Flying-Cam 3.0 SARAH,CA,1,0.5
7,12/10/2014,"Trimble Navigation, Ltd","Manufacturer, Agriculture",False,"Trimble UX5, Trimble UX5 hp, Trimble ZX5, Eagl...",CA,1,0.5
8,12/10/2014,Clayco,Construction,False,Skycatch Unmanned Aircraft System,IL,0,0.0
9,12/10/2014,Woolpert (I),"Manufacturer, Agriculture",False,Woolpert Altavian Nova Block III (Nova Block III),OH,1,0.5

In [211]:
df7 = DroneData[['category','company']]
df7.head(7)

                   category                                           company
0                Photo/Film                                   Astraeus Aerial
1                Photo/Film                                        Aerial MOB
2                Photo/Film                                      Pictorvision
3                Photo/Film  RC Pro Productions Consulting, dba Vortex Aerial
4                Photo/Film                                    Snaproll Media
5                Photo/Film                             HeliVideo Productions
6  Manufacturer, Photo/Film                                        Flying Cam

In [212]:
s = df7['category'].str.split(', ').apply(pd.Series, 1).stack()

In [213]:
s.index = s.index.droplevel(-1) # to line up with df1's index
s.name = 'category' # needs a name to join

In [214]:
s

0                            Photo/Film
1                            Photo/Film
2                            Photo/Film
3                            Photo/Film
4                            Photo/Film
5                            Photo/Film
6                          Manufacturer
6                            Photo/Film
7                          Manufacturer
7                           Agriculture
8                          Construction
9                          Manufacturer
9                           Agriculture
10                         Manufacturer
10                          Agriculture
11      Utilities/Energy/Infrastructure
12                          Real Estate
13                          Agriculture
14                           Photo/Film
15                           Photo/Film
16                           Photo/Film
17                           Photo/Film
18      Utilities/Energy/Infrastructure
19                           Photo/Film
20                           Photo/Film
21                           Photo/Film
22                          Agriculture
23                          Agriculture
24                          Agriculture
25                           Photo/Film
                     ...
2719                       Construction
2719                        Real Estate
2720    Utilities/Energy/Infrastructure
2720                        Real Estate
2720                         Photo/Film
2720                        Agriculture
2720                       Construction
2720                 Emergency Services
2721                         Photo/Film
2722                       Construction
2722                        Real Estate
2722                         Photo/Film
2723                        Real Estate
2724                        Real Estate
2725                       Construction
2726                        Real Estate
2726                         Photo/Film
2727                         Photo/Film
2728                         Photo/Film
2729                        Real Estate
2729                       Construction
2729                         Photo/Film
2729                        Agriculture
2730                          Insurance
2731                        Real Estate
2731                       Construction
2731    Utilities/Energy/Infrastructure
2731                         Photo/Film
2732                         Photo/Film
2732                        Real Estate
Name: category, dtype: object

In [215]:
del df7['category']

In [216]:
df7.head()

                                            company
0                                   Astraeus Aerial
1                                        Aerial MOB
2                                      Pictorvision
3  RC Pro Productions Consulting, dba Vortex Aerial
4                                    Snaproll Media

In [263]:
df8 = df7.join(s)

### agnostic of company, what is the most popular category?

In [264]:
df8.head(5)

                                            company    category
0                                   Astraeus Aerial  Photo/Film
1                                        Aerial MOB  Photo/Film
2                                      Pictorvision  Photo/Film
3  RC Pro Productions Consulting, dba Vortex Aerial  Photo/Film
4                                    Snaproll Media  Photo/Film

In [265]:
df4 = df8.groupby('category').count().sort_values(by='company',ascending=False).reset_index()
df4.head(5)

                          category  company
0                       Photo/Film     1640
1                      Real Estate     1153
2                     Construction      684
3  Utilities/Energy/Infrastructure      637
4                      Agriculture      590

In [267]:
df10 = df4.head(10)

In [266]:
df4.columns = ['category', 'total_registrations']
df4['perc_of_total'] = ((df4['total_registrations']/df4['total_registrations'].sum()))*100
df4.head(10000)

                          category  total_registrations  perc_of_total
0                       Photo/Film                 1640      28.596338
1                      Real Estate                 1153      20.104621
2                     Construction                  684      11.926765
3  Utilities/Energy/Infrastructure                  637      11.107236
4                      Agriculture                  590      10.287707
5               Emergency Services                  369       6.434176
6                        Education                  145       2.528335
7                     Conservation                   84       1.464690
8                        Insurance                   81       1.412380
9           Government Contracting                   79       1.377507

In [268]:
#bar with # of registrations, line with % of total

#bar chart

x = df10['category']
y1 = df10['total_registrations']
y2 = df10['perc_of_total']


trace0 = go.Bar(
        x=x,
        y=y1,
        name='total registrations',
        marker=dict(
            color='rgb(255, 217, 102)',
            line=dict(
                color='rgb(8,48,107)',
                width=1.5
            ),
        ),
        opacity=0.6
    )

trace1 = go.Scatter(
        x=x,
        y=y2,
        name='percent of total registrations',
        yaxis = 'y2',
        marker=dict(
            color='rgb(84, 226, 129)',
            line=dict(
                color='rgb(8,48,107)',
                width=1.5
            ),
        ),
        opacity=0.6
    )
        
data = [trace0, trace1]
    
layout = go.Layout(
      title='The top 10 categories account for >95% of all commercial drone registrations',
    legend=dict(
        x=.5,
        y=1,
        bgcolor='#E2E2E2',
        bordercolor='#FFFFFF',
        borderwidth=2,
        ),
    xaxis=dict(
        title='category',
        tickangle = 47,
    ),
    
    yaxis=dict(
        title='drone registrations'
    ),
    
    yaxis2=dict(
        title='percent of total registrations',
        overlaying='y',
        side='right'
    ),
    
     margin=go.Margin(
        b = 150,
        r=50,
        t = 50
    )

    
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='drone_registrations')

### Which company has the most registrations?

In [183]:
#fixing counts here (upping by 1 across all)
df2 = DroneData[['company', 'count']]
df2['count_clean'] = (df2['count'] + 1)
del df2['count']
df2.head()
#df2[]
#df3.head()

/Users/erikrood/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                                            company  count_clean
0                                   Astraeus Aerial          1.0
1                                        Aerial MOB          1.0
2                                      Pictorvision          1.0
3  RC Pro Productions Consulting, dba Vortex Aerial          1.0
4                                    Snaproll Media          1.0

In [185]:
df3 = df2.groupby('company').mean().sort_values(by='count_clean',ascending=False).reset_index()

In [187]:
df3.head(50)

                                        company  count_clean
0                                Terp et al LLC          7.0
1                             Texas SkyCam, LLC          7.0
2               Above It All- UAS Services, LLC          7.0
3               Applied Art and Technology, LLC          7.0
4                     Soaring Eagle Imaging LLC          7.0
5                               Marc A Menowitz          7.0
6                       Knowledge is Power, LLC          6.0
7                                KopterTek, LLC          6.0
8                             Marketshare, Inc.          6.0
9                              Complete UAS LLC          6.0
10                               10 8 Video LLC          6.0
11                Closed Circuit TV Masters Inc          6.0
12                                Jeff Walvoord          6.0
13          Middle Tennessee Aerial Photography          6.0
14                                Adair UAV LLC          6.0
15                               Trevor J Bauer          6.0
16                        Access Geography, LLC          6.0
17         Avant Unmanned Aerial Solutions, LLC          6.0
18                               Aerial PIC llc          6.0
19                             Aerial Snapshots          6.0
20           Aerial Services of Central Florida          6.0
21       Central Virginia Aerial Solutions, LLC          6.0
22                          Aerial Visions Utah          6.0
23                Texas Unmanned Aerial Systems          6.0
24                                Image Effects          6.0
25                      American Drone Pros LLC          6.0
26                             Wild Wingdom LLC          6.0
27                               Hi-Vantage LLC          6.0
28                         Drone Sky Vision LLC          6.0
29                                Grow Pack LLC          6.0
30                Ground to Sky Productions LLC          6.0
31                         Drones Northwest LLC          6.0
32                 Soundview Aerial Photography          6.0
33                           Florida Drone Pros          6.0
34                        New Vision Media Inc.          6.0
35                          Scottie Dog Designs          6.0
36                 Energy Project Solutions LLC          6.0
37  Birds Eye View Aerial Video and Photography          6.0
38                         RRS Aerial Media LLC          6.0
39                       Unmanned Eagle Eye LLC          6.0
40                            Unmanned Services          6.0
41                                  312 UAV LLC          6.0
42                       Unmanned Services Inc.          6.0
43                              Valen Media LLC          6.0
44                     American Drones, L.L.C.           5.0
45                Insight Aerial Solutions, LLC          5.0
46                     Innovative Resources Inc          5.0
47                            Teton Aerial, LLC          5.0
48                      Innovative Aerial Media          5.0
49                             Aerialnomics LLC          5.0

In [257]:
df10.head(10)

                          category  total_registrations  perc_of_total
0                       Photo/Film                 1640       0.285963
1                      Real Estate                 1153       0.201046
2                     Construction                  684       0.119268
3  Utilities/Energy/Infrastructure                  637       0.111072
4                      Agriculture                  590       0.102877
5               Emergency Services                  369       0.064342
6                        Education                  145       0.025283
7                     Conservation                   84       0.014647
8                        Insurance                   81       0.014124
9           Government Contracting                   79       0.013775

In [270]:
df4.head(70)

,category,total_registrations,perc_of_total
0,Photo/Film,1640,28.596338
1,Real Estate,1153,20.104621
2,Construction,684,11.926765
3,Utilities/Energy/Infrastructure,637,11.107236
4,Agriculture,590,10.287707
5,Emergency Services,369,6.434176
6,Education,145,2.528335
7,Conservation,84,1.464690
8,Insurance,81,1.412380
9,Government Contracting,79,1.377507
10,Scientific Studies,74,1.290323
11,Manufacturer,49,0.854403
12,Other,21,0.366173
13,Research and Development,13,0.226678
14,Emergency,8,0.139494
15,Other-Security,7,0.122058
16,Research,7,0.122058
17,Utility/Energy/Infrstructure,5,0.087184
18,nan,5,0.087184
19,Utilities/Engineering/Infrastructure,4,0.069747
20,Photo/FIlm,4,0.069747
21,Utilities/Energy/Infrastructure,4,0.069747
22,Real Estate,3,0.052310
23,Utilities/Energy/Infrastrcuture,3,0.052310
24,Emergency Response,3,0.052310
25,Utility/Energy/Infrastructure,3,0.052310
26,Photo/Film/Real Estate,3,0.052310
27,Photo/Film,2,0.034874
28,Emergency Services,2,0.034874
29,Real Esate,2,0.034874
...,...,...,...
40,Utilities/Energy Infrastructure,1,0.017437
41,Utilities/Energy/Agriculture,1,0.017437
42,Ral Estate,1,0.017437
43,Utilities/Energy/Infrastructure OR Construction,1,0.017437
44,Utilities/Energy/infrastructure,1,0.017437
45,Utilities/EnergyInfrastructure,1,0.017437
46,Utlities/Energy/Infrastructure,1,0.017437
47,Real,1,0.017437
48,Photo/Film/Agriculture/Real Estate/Search and ...,1,0.017437
49,PhotoFilm,1,0.017437
50,Inusrance,1,0.017437
51,Agricultue,1,0.017437
52,Cnstruction,1,0.017437
53,Conservation,1,0.017437
54,Construction. Real Estate,1,0.017437
55,Constuction,1,0.017437
56,Emegency Services,1,0.017437
57,Emergency Serivices,1,0.017437
58,Emergency Services.,1,0.017437
59,Emergency Servies,1,0.017437
60,Infrastructure,1,0.017437
61,Insurance,1,0.017437
62,Insureance,1,0.017437
63,Other - Archaeology,1,0.017437
64,Photo/film,1,0.017437
65,Other-Art,1,0.017437
66,Other-Logging,1,0.017437
67,Photo,1,0.017437
68,Photo/Fil,1,0.017437
69,Photo/Film Other,1,0.017437