In [32]:
%matplotlib inline 
import matplotlib.pyplot as plt 
import pandas as pd
import numpy as np

import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std

import plotly.plotly as py
import plotly.graph_objs as go
from plotly.tools import FigureFactory as FF
py.sign_in('erikrood','3eqsrype8v')

In [33]:
salaries = pd.read_csv('/Users/erikrood/desktop/sports_salaries.csv')

In [34]:
average_salary_league = salaries.groupby('Group').mean().sort_values(by='Salary',ascending=False).round(decimals=0).reset_index()
average_salary_league.head()

  Group      Salary
0   MLB  10996141.0
1   NBA   6555332.0
2   NFL   4283761.0
3   NHL   2901003.0
4   EPL   2183478.0

In [42]:
median_salary_league = salaries.groupby('Group').median().sort_values(by='Salary',ascending=False).round(decimals=0).reset_index()
median_salary_league.head()

  Group     Salary
0   MLB  8750000.0
1   NBA  3707815.0
2   NFL  2600775.0
3   NHL  2250000.0
4   EPL  1166000.0

In [35]:
#bar chart, bottom 10

x = average_salary_league['Group']
y = average_salary_league['Salary']

data = [
    go.Bar(
        x=x,
        y=y,
        
        marker=dict(
            color='rgb(84, 226, 129)',
            line=dict(
                color='rgb(8,48,107)',
                width=1.5
            ),
        ),
        opacity=0.6
    )
]
layout = go.Layout(
      title='Average salary by league',
    xaxis=dict(
        title='league',
        tickangle = 47,
    ),
    yaxis=dict(
        title='average salary ($)'
    ),
     margin=go.Margin(
        b = 220
        
    )

    
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='average_salary_league')

In [43]:
#bar chart, bottom 10

x = median_salary_league['Group']
y = median_salary_league['Salary']

data = [
    go.Bar(
        x=x,
        y=y,
        
        marker=dict(
            color='rgb(45, 32, 112)',
            line=dict(
                color='rgb(8,48,107)',
                width=1.5
            ),
        ),
        opacity=0.6
    )
]
layout = go.Layout(
      title='Median salary by league',
    xaxis=dict(
        title='league',
        tickangle = 47,
    ),
    yaxis=dict(
        title='median salary ($)'
    ),
     margin=go.Margin(
        b = 220
        
    )

    
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='median_salary_league')

In [37]:
#step 1 - box plot
x_data1 = {'NBA','MLS','MLB','NFL',\
         'NHL','EPL' }
x_data1

{'EPL', 'MLB', 'MLS', 'NBA', 'NFL', 'NHL'}

In [40]:
group_NBA = salaries[salaries['Group'] == 'NBA'].copy()
NBA = group_NBA[['Salary']].copy()

group_MLB = salaries[salaries['Group'] == 'MLB'].copy()
MLB = group_MLB[['Salary']].copy()

group_MLS = salaries[salaries['Group'] == 'MLS'].copy()
MLS = group_MLS[['Salary']].copy()

group_NFL = salaries[salaries['Group'] == 'NFL'].copy()
NFL = group_NFL[['Salary']].copy()

group_NHL = salaries[salaries['Group'] == 'NHL'].copy()
NHL = group_NHL[['Salary']].copy()

group_EPL = salaries[salaries['Group'] == 'EPL'].copy()
EPL = group_EPL[['Salary']].copy()

#once labeling outputs, need to match value order with x axis label names, 
#since those are not fungible
y_data = [
    NFL.values,
    MLB.values,
    MLS.values,
    EPL.values,
    NHL.values,
    NBA.values,

]

In [41]:
#putting together the box plot
traces = []
for xd, yd in zip(x_data1, y_data):
        traces.append(go.Box(
            y=yd,
            name=xd,
            boxpoints='all',
            jitter=0.5,
            whiskerwidth=0.2,
            marker=dict(
                size=2,
            ),
            line=dict(width=1),
        ))

layout = go.Layout(
    title='Salary distribution by league (2016) ($)',
    yaxis=dict(
        range=[0, 35000000],
        showgrid=True,
        zeroline=True,
        #dtick=5,
        gridcolor='rgb(255, 255, 255)',
        gridwidth=1,
        zerolinecolor='rgb(255, 255, 255)',
        zerolinewidth=2,
    ),
    margin=go.Margin(
        l=50,
        r=90,
        b=50,
        t=60,
        pad=4
    ),
    width=800,
    height=650,
    showlegend=False
)

    
fig = go.Figure(data=traces, layout=layout)
py.iplot(fig, filename = 'Salary_distribution_league')